header {
  .search-bar {
    form {
      background-color: #e7e7e7;
      #research {
        background-color: #e7e7e7;
        width: 92%;
        border: none;
      }
      .button {
        border: none;
        background-color: #e7e7e7;
      }
    }
  }
}
